@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Font setup */
    font-family: "Inter", sans-serif;
    -webkit-tap-highlight-color: transparent;
    color-scheme: light;

    @apply bg-[#fcfcfc];
    @apply text-[#0D0D0D];
  }

  /* Dark mode settings */
  :root.dark {
    color-scheme: dark;
    /* You can change theme dark color here to #131313 for example, remember to change it in theme-effect.ts too */
    @apply bg-[#0D0D0D];
    @apply text-[#fcfcfc];
  }

    .bg-pattern {
      background-image: url('/bgl.svg');
      background-repeat: repeat;
    }
    .dark .bg-pattern {
      background-image: url('/bgd.svg');
      background-repeat: repeat;
    }

  /* Prevent transition delays */
  :root.pause-transitions * {
    transition-duration: 0ms !important;
  }

  /* Optimize font rendering */
  @supports (font-variation-settings: normal) {
    :root {
      font-family: "Inter var", sans-serif;
    }
  }

  /* Customize scrollbar for WebKit browsers */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #0D0D0D;
    border-radius: 0px;
  }
  .dark ::-webkit-scrollbar-track {
    background: #0D0D0D;
  }
  .dark ::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }

  /* Customize scrollbar for Firefox */
  * {
    scrollbar-width: thin; /* Make scrollbar narrower */
  }

  /* Various rendering tweaks */
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;

  img {
    height: inherit !important;
  }

  pre {
    margin: 1rem 0 !important;
  }

  /* Apply global styles to pre and code tags */
  pre code {
    font-family: monospace;
    font-size: 14px;
  }

  code {
    padding: 0.25rem;
    font-family: monospace;
  }

  :root.dark pre {
    background-color: #2b2b2b; /* Dark mode background for pre */
  }

  :root.dark code {
    background-color: #2b2b2b; /* Dark mode background for inline code */
  }
}

/* Initial state for image animations */
[data-animate-image] .image-animate {
  opacity: 0;
  will-change: transform, opacity;
}

/* Animation when the image comes into view */
[data-animate-image] .image-animate.animate-once[data-animate="zoom-fade-small"] {
  animation: zoom-fade-small 0.8s ease-in forwards;
}

/* New animation when the image is clicked */
.image-click-animate {
  animation: click-animation 0.5s ease;
}

@keyframes zoom-fade-small {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes click-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.95);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
